<% include partials/header %>
<div class="container">
<h1>Create a new Artist profile</h1>

<div class="col-md-12">
  <form action="/artists" method="POST" class="form-group">
    <input type="text" name="name" placeholder="Artist Name" class="form-control">
    <input type="text" name="image" placeholder="Artist Image URL" class="form-control">
    <button class="btn btn-primary form-control">Submit</button>
  </form>
</div>

<% include partials/footer %>
</div>
