<% include partials/header %>
<div class="container">
<h1>Create a new Shop profile</h1>

<div class="col-md-12">
  <form action="/shops" method="POST" class="form-group">
    <input type="text" name="name" placeholder="Shop Name" class="form-control">
    <input type="text" name="image" placeholder="Shop Image URL" class="form-control">
    <button class="btn btn-primary form-control">Submit</button>
  </form>
</div>

<% include partials/footer %>
</div>
